*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Bold";
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
}
.header{
    height: 26.3vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
}
.Hexlogo{
    width: 50vw;
    height: 26.3vh;
    background-color: #2A3741;
}
.player{
    width: 50vw;
    height: 26.3vh;
    background-color: #C7CED5;
    text-align: right;
}
.profile-picture{
    width: 50vw;
    height: 70%;
    
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.div{
    margin: auto;
    width: 35vw;
    height: 90px;
    display: grid;
    grid-template-columns: 25% 75%;
}
.div img{
    border-radius: 46px;
}
.name{
    font-size: 32pt;
    width: fit-content;
    
}
.profile-data{
    width: 0vw;
    float: right;
}
.wins{
    font-size: 24pt;
    margin-bottom: 1vh;

}